﻿<link rel="import" href="/sys/polymer/polymer.html">

<link rel="import" href="/sys/platinum-push-messaging/platinum-push-messaging.html">
<link rel="import" href="/sys/push-subscription/push-subscription.html">
<link rel="import" href="/sys/paper-material/paper-material.html">
<link rel="import" href="/sys/paper-item/paper-item.html">
<link rel="import" href="/sys/paper-input/paper-input.html">
<link rel="import" href="/sys/paper-input/paper-textarea.html">
<link rel="import" href="/sys/paper-toggle-button/paper-toggle-button.html">
<style>

    .layout  {
        width:100%;
    }

</style>

<template>
    <template is="dom-bind">

        
             

        <paper-item id="testmessage">
            <paper-item-body two-line class="layout vertical">
                <div>
                   Test Broadcast a message to all subscriptions. 
                    
                </div>
                <div><small>This is not the intended use, but serves as a demonstration.</small></div>
                <div>

                    <paper-input value="{{model.Title$}}" label="Title"></paper-input>
                    <paper-textarea rows="2" value="{{model.Message$}}" label="Textarea label"></paper-textarea>


                    <button class="btn btn-xs btn-primary" value="{{model.SendClick$::click}}" onmousedown="++this.value">Broadcast message</button>

                    <pre class="paper-font-code1" style="overflow: auto; margin: 5px;">{{model.EndpointMessage}}</pre>
                </div>
                <hr />
            </paper-item-body>

        </paper-item>
       

       
           

        


</template>
   <script>
       var script = document._currentScript || document.currentScript;
       var template = script.previousElementSibling;
       template.prettify = function (s) {
           if (s == undefined || s.length == 0) { return "" };
           var json = JSON.parse(s);
           return JSON.stringify(json, null, 2);
       };
   </script>
</template>

