﻿<link rel="import" href="/sys/polymer/polymer.html">
<link rel="import" href="/PushNotification/platinum-push-messaging/platinum-push-messaging.html">
<link rel="import" href="/sys/push-subscription/push-subscription.html">
<link rel="import" href="/sys/paper-material/paper-material.html">
<link rel="import" href="/sys/paper-item/paper-item.html">
<link rel="import" href="/sys/paper-input/paper-input.html">
<link rel="import" href="/sys/paper-input/paper-textarea.html">
<link rel="import" href="/sys/paper-toggle-button/paper-toggle-button.html">
<style>

    .layout  {
        width:100%;
    }

</style>

<template>
    <template  is="dom-bind">

        <div id="unsupported" style="display: none;" class="warning">
            Sorry, only Chrome for desktop and android is supported at the moment.
        </div>
        <div id="supported">
            <platinum-push-messaging renotify="true" message-url="/pushnotification/message.json"></platinum-push-messaging>
            <paper-item>
                <paper-item-body two-line class="layout vertical">
                    <div>
                        Enable push messaging
                    </div>
                    <div>
                        <paper-toggle-button id="enable-push" toggles disabled></paper-toggle-button>
                    </div>
                </paper-item-body>
            </paper-item>

            <hr />

            <paper-item id="testmessage">
                <paper-item-body two-line class="layout vertical">
                    <div>
                        Send a test message to yourself
                    </div>
                    <div>

                        <paper-input value="{{model.Title$}}" label="Title"></paper-input>
                        <paper-textarea rows="2" value="{{model.Message$}}" label="Textarea label"></paper-textarea>


                        <button class="btn btn-xs btn-primary" value="{{model.TestSendClick$::click}}" onmousedown="++this.value">Send test message</button>

                        <pre class="paper-font-code1" style="overflow: auto; margin: 5px;">{{prettify(model.EndpointMessage)}}</pre>
                    </div>
                    <hr />
                </paper-item-body>
                
            </paper-item>



            <paper-item>
                <paper-item-body two-line class="layout vertical">
                    <div>
                        Current subscription
                    </div>
                    <div>
                        <pre class="paper-font-code1" style="overflow: auto; margin: 5px;" id="subscription"></pre>
                    </div>
                </paper-item-body>
            </paper-item>

            <paper-item>
                <paper-item-body two-line class="layout vertical">
                    <div>
                        Endpoint
                    </div>
                    <div>
                        <pre class="paper-font-code1" style="overflow: auto; margin: 5px;" id="endpoint"></pre>
                        
                        
                    </div>
                </paper-item-body>
            </paper-item>

            <hr />

           

           
        </div>



</template>
   <script>
       var script = document._currentScript || document.currentScript;
       var template = script.previousElementSibling;
       template.prettify = function (s) {
           if (s == undefined || s.length == 0) { return "" };
           var json = JSON.parse(s);
           return JSON.stringify(json, null, 2);
       };


      
       
      
   </script>
</template>

<script>

    //HTMLImports.whenReady  //does not work with firefox, document.querySelector('something') is undefined
       var initialized = false;
       document.addEventListener("dom-change", 
           
           function () {
               if (initialized) {return} //workaround
               initialized = true;
        
           
                var toggle = document.getElementById('enable-push');
                var ppm = document.querySelector('platinum-push-messaging');
                var subscription = document.getElementById('subscription');
                var endpoint = document.getElementById('endpoint');
                console.log("ppm", ppm.supported, ppm.enabled);
                if (!ppm.supported) {
                    document.getElementById('supported').style.display = 'none';
                    document.getElementById('unsupported').style.display = '';
                }
                document.getElementById('testmessage').style.display = ppm.enabled ? '' : 'none';



                toggle.disabled = !ppm.supported;
                toggle.addEventListener('change', function (e) {

                    if (!ppm.enabled && toggle.checked) {
                        console.log("enable check");
                        ppm.enable();
                    }
                    if (ppm.enabled && !toggle.checked) {
                        console.log("disable check");
                        ppm.disable();
                    }
                });

                ppm.addEventListener('enabled-changed', function (event) {
                    toggle.checked = ppm.enabled;
                    console.log("enabled changed ppm")
                    document.getElementById('testmessage').style.display = ppm.enabled ? '' : 'none';
                    //sendInstructions.style.display = ppm.enabled ? '' : 'none';
                });

                ppm.addEventListener('subscription-changed', function (event) {

                    subscription.textContent = ppm.subscription ? JSON.stringify(ppm.subscription, null, 2) : '';
                    var endpoint = ppm.subscription ? ppm.subscription.endpoint : '';
                    endpoint.textContent = endpoint;
                    template.set("model.Endpoint$", endpoint);
                    console.log("sub changed", endpoint);

                });


           }
       );      
         
       
     var head = document.getElementsByTagName('head')[0];
     var meta = document.createElement('meta');
     var manifestLink = document.createElement('link');
     manifestLink.rel = "manifest";
     manifestLink.href = "/PushNotification/manifest.json";
     head.appendChild(manifestLink);
</script>

