﻿<link rel="import" href="/sys/polymer/polymer.html">

<link rel="import" href="/sys/platinum-push-messaging/platinum-push-messaging.html">
<link rel="import" href="/sys/push-subscription/push-subscription.html">
<link rel="import" href="/sys/paper-material/paper-material.html">
<link rel="import" href="/sys/paper-item/paper-item.html">
<link rel="import" href="/sys/paper-input/paper-input.html">
<link rel="import" href="/sys/paper-input/paper-textarea.html">
<link rel="import" href="/sys/paper-toggle-button/paper-toggle-button.html">
<style>

    .layout  {
        width:100%;
    }

</style>

<template>
    <template is="dom-bind">

        
             

            <paper-item>
                <paper-item-body two-line class="layout vertical">
                    <div>
                        Settings
                    </div>
                    <div>

                        <paper-input value="{{model.GCMAPIKEY$}}" label="Google Cloud Messaging Server Key"></paper-input>
                        <paper-input value="{{model.GCMSenderId$}}" label="Google Cloud Messaging Sender ID"></paper-input>
                        


                        <button class="btn btn-xs btn-primary" value="{{model.Save$::click}}" onmousedown="++this.value">Save</button>

                        {{model.Message}}

                    </div>
                    
                </paper-item-body>
                
            </paper-item>
        <br /><br />
        <paper-item>
            <paper-item-body two-line class="layout vertical">
                <div>
                    How to set up
                </div>
                <div>
                    <ul>
                        <li>Go to https://console.firebase.google.com/u/0/ </li>
                        <li>Add a new project </li>
                        <li>Click on Cog wheel next to Project Overview and select Project Settings</li>
                        <li>Click on tab Cloud Messaging</li>
                        <li>Copy Server key and Sender ID</li>
                    </ul>
                </div>

            </paper-item-body>

        </paper-item>


       
           

        


</template>
   <script>
       var script = document._currentScript || document.currentScript;
       var template = script.previousElementSibling;
       template.prettify = function (s) {
           if (s == undefined || s.length == 0) { return "" };
           var json = JSON.parse(s);
           return JSON.stringify(json, null, 2);
       };
   </script>
</template>

